<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856821256240-469mkap5h3ipa8frmemuq8f58dogadmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856821256240-469mkap5h3ipa8frmemuq8f58dogadmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBa4rW7qPi-jWLByz8_SCiTUGLiFjufTXw</string>
	<key>GCM_SENDER_ID</key>
	<string>856821256240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelsongonzalez.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-e9a99</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-e9a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856821256240:ios:cc8a64327017b9866a9df5</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-e9a99.firebaseio.com</string>
</dict>
</plist>